#slider_container_2 { float: left;;  width: 900;  }

.SliderName_2 {
	float: left;
	width: 900px;
	height: 450px;
	overflow: hidden;
}

.SliderNamePrev_2 {
	
	
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	}

.SliderNameNext_2 {
	
	width: 50px;
	height: 450px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
}

.SliderName_2Description {
	
	font-family: Tahoma,Arial,Helvetica;
	font-size: 14px;
	
	letter-spacing: 1px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 1px 3px #000000;
}

#SliderNameNavigation_2 { margin: 0; padding: 10px 0 0 0; height: 16px; text-align: center; overflow-y: hidden; }

#SliderNameNavigation_2 a:link, #SliderNameNavigation_2 a:active, #SliderNameNavigation_2 a:visited, #SliderNameNavigation_2 a:hover{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
}

#SliderNameNavigation_2 a img
{
	border: none;
	width: 16px;
	height: 16px;
	background: url(../img/bullet.png) no-repeat center center;
}

#SliderNameNavigation_2 a.active img
{
	background: url(../img/bullet_active.png) no-repeat center center;
}